<div class="requests-show">
  <%= image_tag "profile-placeholder.png", class: "small-profile-pic" %>
  <h2>Gertrude Foster Brown</h2>
  <div class="stars">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star-half-o" aria-hidden="true"></i>
  </div>
  wants to be walked home
  <div class="request-map">
    <%= image_tag "mock-map.jpg" %>
  </div>

  <div class="text-bubble">
    123 Main St, Cambridge, MA 00000
  </div>
  <div class="trip-time-details">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
    <span>1.2 Miles</span>
    <i class="fa fa-male" aria-hidden="true"></i>
    <span>15 min</span>
  </div>
  <div class="text-bubble">
    144 Deane St, Somewheresville, MA 00000
  </div>
  <button class="button primary accept">
    <h1>Accept</h1>
  </button>
</div>
