<%= image_tag "profile-placeholder.png", class: 'profile-picture' %>

<h1>Anna</h1>
<h1>Howard Shaw</h1>
<i class="fa fa-star big-star" aria-hidden="true"></i>
<i class="fa fa-star big-star" aria-hidden="true"></i>
<i class="fa fa-star big-star" aria-hidden="true"></i>
<i class="fa fa-star big-star" aria-hidden="true"></i>
<i class="fa fa-star-half-o big-star" aria-hidden="true"></i>
