<div class="users-show">
  <%= render "shared/profile_pic_and_rating" %>

  <form>
    <div>

      <button class="button">
        <input type="checkbox" name="plan-trip">
        <h1 class="button-label">Plan Safe Trip<h1>
      </button>
    </div>
    <div>
      <button class="button">
        <input type="checkbox" name="request-ally" checked>
        <h1 class="button-label">Request An Ally</h1>
      </button>
    </div>
    <button type="submit" class="button success">
      <h1>
        Go
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </h1>
    </button>
  </form>

  <div class="reviews">
    <div class="title">
      <h1>Your Reviews</h1>
    </div>
    <article class="review">
      <h2>By: Anna Deavere Smith</h2>
      <div class="stars">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
      </div>
      <p>Anna walked me home last night. She was very friendly! And were both Annas so fuck yea</p>
    </article>
    <article class="review">
      <h2>By: Somebody else</h2>
      <div class="stars">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
      </div>
      <p>Wicked walking buddy</p>
    </article>
  </div>
</form>
</div>
