.reviews {
  text-align: left;
  margin: 0 5px 0 5px;

  .title {
    border-bottom: 1px solid #cccccc;
  }
}

.review {
  border-bottom: 1px solid #cccccc;
  h2 {
    display: inline;
  }

  .stars {
    display: inline;
  }
}
