.users-show {
  margin: 0 auto;
  text-align: center;

  form {
    margin-top: 10px;
  }

  .profile-picture {
    display: inline-block;
    border-radius: 50%;
    height: 250px;
    margin-top: 40px;
  }

  .button {
    width: 100%;
  }

  .button-label {
    display: inline;
  }

  .big-star {
    font-size: 2.5rem;
  }
}
