<div class="ratings-new">
  <%= render "shared/profile_pic_and_rating" %>
  <br/>
  <div class="rating">
    <h2>Rate Anna<h2>

    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <i class="fa fa-star-o" aria-hidden="true"></i>
    <br />
    <h2>Leave a review</h2>
    <form>
      <input type="text" placeholder="Optional"/>
      <button type="submit" class="button success">
        <h2>
          Submit Review
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </h2>
      </button>
    </form>
  </div>
</div>
